%table.table.table-bordered
	%thead
		%tr
			%th <b>Name</b>
			%th <b>ID</b>
			%th <b>Referral ID</b>
			%th 
	%tbody
		- clients.each do |c|
			%tr
				%td #{c}
				%td #{c.id}
				%td #{c.referral_id}
				%td
					.btn-toolbar
						= link_to client_path(c.id), class: 'btn btn-default' do
							Dashboard


						= link_to 'Delete',  client_path(c.id), class: 'btn btn-danger',
							data: { confirm: 'Are you sure?' }, method: :delete 
						
