<div class="container">
	<div style="margin-top: 25px">
		<% flash.each do |key, value| %>
			<div style="text-align: center" class="alert alert-<%= key %>">
				<%= value %>
			</div>
		<% end %>
	</div>	
	
	<h1 style="text-align: center; color: rgb(255, 160, 0)"><b>Signup</b></h1>

	<hr>

	<div style="margin-bottom: 150px">
		<div class='row'>
			<div class = 'col-md-6 col-md-offset-3'>

			<%= bootstrap_form_for(@client) do |f| %>
				<%= f.text_field :first_name, label: 'First Name' %> <br>
				<%= f.text_field :last_name, label: 'Last Name' %> <br>
				<%= f.text_field :email, label: 'Email Address' %> <br>
				<%= f.text_field :referral_id, label: 'Referral ID' %> <br>
				<%= f.text_field :mt4_id, label: 'MetaTrader ID' %> <br>

				<%= f.password_field :password, label: 'Password' %> <br>
				<%= f.password_field :password_confirmation, label: "Confirm Password"  %> <br>
				<%= f.submit "Create my account", class: 'btn btn-warning' %>

			<% end %>
			</div>
		</div>
	</div>

</div>