.container

	- flash.each do |key, value|
		%div{:class => "alert alert-#{key}", :style => "text-align: center"}
			= value	




	
	.row
		%div{:class => "col-md-5 col-md-offset-2", :style => "margin-top: 100px"}
			%h1
				#{@client}
			%h4
				#{@client.email} 
	
				%hr
	
					%h3
						#{number_to_currency(@client.account.balance, unit: 'R ')}
					
					%hr
					.btn-toolbar
						= link_to root_path, class: 'btn btn-default' do
							Home
						=link_to client_account_path(@client.id, @client.account.id), class: 'btn btn-primary' do
							Account







			