.container

	- flash.each do |key, value|
		%div{:class => "alert alert-#{key}", :style => "text-align: center"}
			= value	

	
	.row
		%div{:class => "col-md-5 col-md-offset-2", :style => "margin-top: 50px"}
			%h1
				#{@client}
			%h4
				#{@client.email} 
					
			%hr
			
			Total number of downlines: #{@downlines.count} 
			%br
			Last downline added on: #{@downlines.last.created_at} 
		
	.row
		%div{:class => 'col-md-8 col-md-offset-2', :style => 'margin-top: 20px'}

			%hr

			= render partial: 'downline_list', locals: { downlines: @downlines }


		





					