%canvas{:id => "nokey", :width => "100%", :height => "100%"} 
    	

#heading
	.row
		.col-md-12	
			GALXYBIT

.everything

	.row
		.col-md-12
			%h2
			Number of Clients: #{number_of_clients} 


	%hr

	.row
		.col-md-12
			.style{:color => 'white'}
				= link_to new_client_path do
					JOIN NOW
				%hr
				= link_to login_path do
					LOGIN
				%p{:color => 'white'}

				= link_to about_path do
					ABOUT
		
.java
= javascript_include_tag 'pages/Particles.js'
	



